@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-fintech-royal: #4169E1;
  --color-fintech-blue: #3483FA;
  --color-fintech-bg: #F8F9FA;
}

body {
  background-color: white;
  color: #333333;
  font-family: var(--font-sans);
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar { 
  width: 4px; 
} 
.custom-scrollbar::-webkit-scrollbar-track { 
  background: white; 
} 
.custom-scrollbar::-webkit-scrollbar-thumb { 
  background: #cbd5e1; 
  border-radius: 10px; 
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
